<%- include('header') %>
<body>
    <section id='header' >
        <header>
            <span class="image avatar">
                <img src="/myblog/public/img/xxx.jpeg" alt>
            </span>
            <h1>
                <a href="#" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">ldzSpace</a>
            </h1>
            <p>
                不积跬步
                <br>
                "无以至千里"
            </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="#one" class="active" id="one-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">About</a></li>
                <li><a href="#two" id="two-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Things I Can Do</a></li>
                <li><a href="#three" id="three-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">A Few Accomplishments</a></li>
                <li><a href="#four" id="four-link" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Contact</a></li>
            </ul>
        </nav>
    </section>
</body>