<%- include('headerFront') %>

<div class="ace-paper-stock">
    <main class="ace-paper clearfix">
          <div class="ace-paper-cont clear-mrg">
              <!-- START: PAGE CONTENT -->
              <div class="padd-box clear-mrg">
                  <section class="section brd-btm">
                      <div class="row">
                          <div class="col-sm-12 clear-mrg text-box">
                              <h2 class="title-lg text-upper">关于我</h2>
                                  <p><b>大家好，我是ldzSpace</b><br>
                                  一个爱好编程的boy,CydiaSubstrate，作者为 Jay Freeman(saurik)，在iOS7越狱之前名为 MobileSubstrate，因此 CydiaSubstrate 框架中的大部分函数仍以 MS 为前缀
                                  </p>
                                   <p class="text-right signature">
                                      <img src="img/uploads/signature.png" alt="">
                                  </p>
                           </div>
                       </div>
                  </section><!-- .section -->
                  <section class="section brd-btm">
                    <div class="row">
                      <div class="col-sm-6 clear-mrg">
                      <h2 class="title-thin text-muted"> 个人信息 </h2>
                      <dl class="dl-horizontal clear-mrg">
                        <dt class="text-upper">姓名</dt>
                        <dd>刘大志</dd>
                        <dt class="text-upper">生日</dt>
                        <dd>1990.04.12</dd>
                        <dt class="text-upper">地址</dt>
                        <dd> 北京市 </dd>
                        <dt class="text-upper">邮箱</dt>
                        <dd><a href="mailto:842129948@qq.com">842129948@qq.com</a></dd>
                      </dl>
                    </div><!-- .col-sm-6 -->

                  </section><!-- .section -->
                  <section class="section brd-btm">
                    <div class="row">
                      <div class="col-sm-6 clear-mrg">
      <h2 class="title-thin text-muted">个人技能</h2>

      <div class="progress-line ace-animate" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
          <strong class="progress-title">Php & MySQL</strong>
          <div class="progress-bar" data-text="90%" data-value="0.9"></div>
      </div>

      <div class="progress-line ace-animate" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
          <strong class="progress-title">Javascript</strong>
          <div class="progress-bar" data-text="80%" data-value="0.8"></div>
      </div>

      <div class="progress-line ace-animate" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
          <strong class="progress-title">UX Design</strong>
          <div class="progress-bar" data-text="80%" data-value="0.8"></div>
      </div>
                      </div><!-- .col-sm-6 -->
                      <div class="col-sm-6 clear-mrg">
                      <h2 class="title-thin text-muted">个人特征</h2>
                          <ul class="styled-list clear-mrg">
                            <li>Lake Marcelview</li>
                            <li>New Tara</li>
                            <li>Abbeyshire</li>
                            <li>Kassulkechester</li>
                          </ul>
                      </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                  </section><!-- .section -->
                  <section class="section brd-btm">
                    <div class="row">
                      <div class="col-sm-12 clear-mrg">
                      <h2 class="title-thin text-muted">兴趣爱好</h2>
                        <ul class="icon-list icon-list-col3 clearfix">
                          <li><span class="ace-icon ace-icon-music"></span> 音乐 </li>
                          <li><span class="ace-icon ace-icon-blog"></span> 游泳 </li>
                          <li><span class="ace-icon ace-icon-blog"></span> 阅读 </li>
                          <li><span class="ace-icon ace-icon-blog"></span> 编程 </li>
                          <li><span class="ace-icon ace-icon-blog"></span> 书法 </li>
                          <li><span class="ace-icon ace-icon-music"></span> 画画 </li>
                        </ul>
                      </div>
                    </div>
                  </section><!-- .section -->
                  <section class="section">
                    <h2 class="title-thin text-muted">收获和奖励</h2>
                    <div class="row">
                      <div class="col-sm-6 clear-mrg">
                    <div class="award-box">
                      <figure class="award-img">
                        <img src="img/uploads/awards/award-01.png" alt="">
                      </figure>
                    <h3 class="award-title">Lake Marcelview</h3>
                    <div class="award-text text-muted clear-mrg">
                    <p>Your brand is the core of your marketing, the central theme around your products and services.
                 Your brand is not your Logo or your Company Name</p>
                    </div>
                </div><!-- .col-sm-6 -->
                <div class="col-sm-6 clear-mrg">
                  <div class="award-box">
                    <figure class="award-img">
                      <img src="img/uploads/awards/award-02.png" alt="">
                    </figure>
                    <h3 class="award-title">Lake Marcel Awards</h3>
                    <div class="award-text text-muted clear-mrg">
                      <p>Your brand is the core of your marketing, the central theme around your products and services.</p>
                    </div>
                  </div>
                </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                  </section><!-- .section -->
              </div><!-- .padd-box -->	
          </div><!-- .ace-paper-cont -->
    </main><!-- .ace-paper -->
</div><!-- .ace-paper-stock -->


<%- include('footerFront') %>